*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

header{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    min-height: 100px;
    align-items: center;
}

body{
    background-color: lightgreen;
}

#grid{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    border: 1px solid black;

    cursor: pointer;
}

.cell.bomb{
    background-color: red;
    cursor: not-allowed;
}

.cell.safe{
    background-color: green;
    cursor: not-allowed;
}


.gameOver{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    color: red;
}



